@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

@font-face {
    font-family: "Star-Wars";
    src: url(../fonts/Starjedi.ttf) format("truetype");
    font-weight: 600;
}

body,
h1,
h2 {
    font-family: "Star-Wars", 'Courier New', 'Courier', 'monospace';
    font-weight: 600;
}

.main {
    background-color: rgba(217, 217, 217, 255);
    // display: flex;
    // flex-direction: column;
    text-align: center;

    &__title {
        text-align: center;
    }

    &__input {
        font-family: "Star-Wars";
        display: inline-block;
    }

    &__button {
        background-color: rgba(0, 226, 120, 255);
        font-family: "Star-Wars";
        padding: 0.5rem;

        &--sound-icon {
            width: 1.5rem;
            vertical-align: bottom;
        }
    }
}